.git
.idea
node_modules

# npm package files
iobroker.*.tgz

Thumbs.db

/.vscode
/src-admin/package-lock.json

#ignore .commitinfo created by ioBroker release script
.commitinfo
/src-admin/.__mf__temp/
